.link-container {
  display: flex;
  width: 600px;
}
.link-item {
  flex: 1;
}

.form-container {
  display: flex;
  width: 400px;
  margin-bottom: 4px;
}

.form-label {
  flex: 1;
  padding-right: 5px;
  text-align: right;
}

.form-control {
  flex: 2;
}

.app-container {
  width: 600px;
  margin: auto;
}

button {
  margin: 4px;
}

.form-button-groups {
  width: inherit;
  padding-left: 140px;
}

.anecdote-detail {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.footer {
  margin-top: 40px;
  width: inherit;
  text-align: center;
  font-style: italic;
}